@charset "UTF-8";

.wrap {
  position: relative;
  width: 192rem;
  height: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 12rem;
  border-bottom: 1px solid var(--gray-800);
  .symbol {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 4rem;
    top: 4rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .box-close {
    position: absolute;
    width: 11.8rem;
    height: 11.8rem;
    top: 0;
    right: 0;
    border-left: 1px solid var(--gray-800);
    .btn-close {
      width: 11.8rem;
      height: 11.8rem;
      text-align: center;
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  &.canvas {
    .timer {
      width: 21.4rem;
      height: 100%;
      border-right: 1px solid var(--gray-black);
      padding: 4rem 0 0 4rem;
      .img {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        vertical-align: middle;
        margin-right: 1.2rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .time {
        display: inline-block;
        vertical-align: middle;
        font-family: var(--Inter);
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -0.03rem;
      }
      &.red {
        color: var(--red-500);
      }
    }
    .symbol {
      position: absolute;
      left: 25.4rem;
      top: 4rem;
      width: calc(100% - 40rem);
      height: auto;
      .img {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin-right: 2.4rem;
      }
      .text {
        position: absolute;
        display: inline-block;
        font-family: var(--medium);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 4rem;
        letter-spacing: -0.03rem;
      }
    }
  }
}
