@charset "UTF-8";

.wrap {
  position: relative;
  width: 192rem;
  height: 112.4rem;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: var(--ivory-200);
  position: relative;
  width: 100%;
  height: 8rem;
  border-bottom:0.1rem solid  var(--ivory-500);

  .gallery-title {
    display: flex;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 700;
    align-items: center;
    letter-spacing: -0.03rem;
  }
  .symbol {
    position: absolute;
    display: block;
    width: 4rem;
    height: 4rem;
    left: 4rem;
    top: 2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .flex-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    .box-close {
      position: initial;
      cursor:pointer;
    }
  }
  .btn-right {
    width: 16.3rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    border-left: 0.1rem solid var(--ivory-500);
    .img {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      margin-right: 0.6rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .tit {
      display: inline-block;
      font-family: var(--medium);
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: -0.03rem;
      color: var(--gray-700);
      vertical-align: middle;
    }
  }
  .box-close {
    position: absolute;
    width: 11.8rem;
    height: 8rem;
    top: 0;
    right: 0;
    border-left: 0.1rem solid var(--ivory-500);
    .btn-close {
      display: block;
      width: 11.8rem;
      height: 8rem;
      text-align: center;
      padding-top: 2rem;
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  &.canvas {
    .timer {
      width: 28.7rem;
      height: 100%;
      border-right: 0.1rem solid  var(--ivory-500);
      padding: 2rem 0 0 7.6rem;

      .img {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        vertical-align: middle;
        margin-right: 1.2rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .time {
        display: inline-block;
        vertical-align: middle;
        font-family: var(--Inter);
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -0.03rem;
      }
      &.red {
        color: var(--red-500);
      }
    }
    .symbol {
      position: absolute;
      left: 32.2rem;
      top: 2rem;
      width: calc(100% - 40rem);
      height: auto;
      .img {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin-right: 2.4rem;
      }
      .text {
        position: absolute;
        display: inline-block;
        font-family: var(--medium);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 4rem;
        letter-spacing: -0.03rem;
      }
    }
  }
  &.ivory {
    border-bottom: 0.1rem solid var(--ivory-500);
    .box-close {
      border-left: 0.1rem solid var(--ivory-500);
    }
  }
}

.contents {
  height: calc(100% - 8rem);
  overflow-y : auto;
  overflow-x : hidden;
  &.no_scroll {
    overflow: visible;
    position: relative;
    height: calc(100% - 8rem);
  }
  .nav-link {
    color: var(--gray-500);
    &.active {
      color: var(--gray-black);
      font-family: 'Noto Sans CJK KR Bold';
    }
  }
  .nav-tabs {
    font-size: 2.8rem;
    line-height: 12rem !important;
  }
}


.fade-enter-active{
  transition: opacity .5s;
}
.fade-enter {
  opacity: 0;
}

