@charset "UTF-8";

.modal {
  height: 120rem;
}

.modal-header {
  justify-content: normal;

  .modal-title {
    font-size: 3.2rem;
    margin-left: 3rem;
    letter-spacing: -0.3px;
    font-family: var(--bold);
    line-height: 6.4rem;
  }
}

.modal-backdrop {
  height: 120rem;
  width: 192rem;
  left: calc(50% - 96rem);
}
