@charset "UTF-8";

.modal {
  height: 120rem;
}

.modal-header {
  display: block;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
  .symbol{
    float: left;
  }

  .modal-title {
    float: left;
    font-size: 3.2rem;
    margin-left: 3rem;
    letter-spacing: -0.3px;
    font-family: var(--bold);
    line-height: 6.4rem;
    text-align: left;
  }
}

.modal-backdrop {
  height: 120rem;
  width: 192rem;
  left: calc(50% - 96rem);
}
